*{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	border: none;
}
html,body{
	font-family: 'Open Sans', sans-serif;
}


.wrapper {
	margin: 0 auto;
	
}

.wrapper__header {
	position: relative;
}

.logo__p {
	font-family: OpenSans;
	font-size: 13.9px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	color: #ffffff;
}

.header {
	background: url(img/rectangle_1_32.png) no-repeat fixed;
	background-size: cover;
	min-height: 813px;
	position: relative;
	
}

.header__cont__block1__text1 {
	font-family: 'Open Sans', sans-serif;
	font-size: 68.7px;
	font-weight: 800;
	color: #ffffff;
}

.header__cont__block1__text2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 143.9px;
	font-weight: 800;
	letter-spacing: -0.05em;
	color: #eeb501;
	margin: -40px 0 0 0;
}

.header__cont__block1__text3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 69.6px;
	font-weight: 800;
	color: #ffffff;
	margin: -40px 0 0 0;
}

.header__cont__block2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	letter-spacing: 0.05em;
	color: #ffffff;
	margin: 30px 0 70px 0;
}

.header__cont__button {
	font-family: 'Open Sans', sans-serif;
	font-size: 21.6px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	width: 207px;
	height: 57px;
	border: 3.0px solid #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-duration: 0.7s;
}

.nav__link {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #ffffff;
	float: left;
	margin: 55px 20px 70px 0;
	transition-duration: 1s;
}

.nav__list {
	list-style-type: none;
}

header__burger{
	display: none;
}

.container_wrap {
	padding: 0 242px 1px 311px;
	max-width: 1300px;
	margin: 0 auto;
	
}

.logo {
	margin: 30px 203px 0 0;
	float: left;
}
.nav{
	display: flex;
	
}

.header__cont {
	clear: both;
	max-width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
	position: relative;
	z-index: 1;


}
.header__header{
	display: flex;
	align-items: center;
}

.header__img {
	 position: absolute;
    left: 10%;
    bottom: -15%;
	z-index: 2;
}


.block1__main {
	background: url(img/vector_smart_object_302.png), no-repeat fixed;
	background-size: cover;
	min-height: 714px;
	position: relative;
	z-index: 1;

}



.block1__main__chair {
	background: url(img/layer_1_100.png);
	    height: 520px;
    width: 1350px;
    position: absolute;
    left: -1%;
    bottom: 0;
    z-index: -1;

}

.just {
	font-family: 'Open Sans', sans-serif;
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #1e0404;
	padding: 15px;
}

.awesom {
	font-size: 65px;
	line-height: 72px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	background: #efb500;
	display: inline-block;
	padding: 15px;
}

.disign img{
	width: 90px;
	height: 90px;
	background-color: #eeb501;
	border-radius: 50%;
	
	
}

.header__img{
    animation: animationFrames ease-in-out 4s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
	z-index: 0;
}
  
@keyframes animationFrames{
    0% {
      transform:  translate(1000px,-300px)  scaleX(0.05) scaleY(0.05) ;
    }
    100% {
      transform:  translate(0px,0px)  scaleX(1.00) scaleY(1.00) ;
    }
}

.disign h2{
	font-family: 'Open Sans', sans-serif;
font-size: 25px;
line-height: 1.2;
font-weight: 700;
color: #1e0404;
}

.disign p{
	font-family: 'Open-Sans', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #1e0404;
}

.h2__disign {
	font-family: 'OpenSans',sans-serif;
	font-size: 25px;
	line-height: 1.2;
	font-weight: 700;
	color: #1e0404;
	margin: 20px 0;
}

.p__disign {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #1e0404;
}

.img__disign {
	width: 90px;
	height: 90px;
	background: orange;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.just__block1 {
	grid-area: grid-just;
}



.grid-disign1 {
	grid-area: grid-disign1;
}

.grid-disign2 {
	grid-area: grid-disign2;
}

.grid-disign3 {
	grid-area: grid-disign3;
}

.grid-disign4 {
	grid-area: grid-disign4;
}

.container__block1 {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
		"grid-just grid-disign1 grid-disign2"
		".         grid-disign3 grid-disign4";
	padding: 66px 0 0 0;
	width: 100%;
	z-index: 2;
		
}

.grid-disign1 {
	grid-area: grid-disign1;
}

.disign__block1 {
	display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
	position: relative;
	z-index: 2;
}

.p__block2__text {
	font-family: 'Open Sans',sans-serif;
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	margin:0 0 16px 0 ;
}

.h2__block2__text {
	font-family: 'Open Sans', sans-serif;
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #ffffff;
	
}

.p__block2__text2 {
	
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	margin: 62px 0 0 0;
	
}

.block2__main__btn {
	font-size: 21.6px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	width: 207px;
	height: 57px;
	border: 3.0px solid #ffffff;
	margin: 100px auto 60px;
    display: flex;
    justify-content: center;
    align-items: center;
	transition-duration: 1s;
}



.block2__main {
		background: url(img/rectangle_1_copy_2_46.png) no-repeat fixed;
	background-size: cover;
}

.block2__cont__img1 {
	grid-area: grid-block2-1;
}

.block2__cont__img2 {
	grid-area: grid-block2-2;
}

.block2__cont__img3 {
	grid-area: grid-block2-3;
	margin: 0 0 0 -45px ;
}

.block2__cont__img4 {
	grid-area: grid-block2-4;
}

.block2__main__cont {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
		"grid-block2-1 grid-block2-2 grid-block2-3"
		"grid-block2-1 grid-block2-4 grid-block2-4";
	grid-gap: 20px;
}

.block2__main__text {
	padding: 100px 0 64px 0;
	text-align: center;
	max-width: 50%;
    margin: 0 auto;
}

.block1__img2 {
	position: absolute;
    right: 0;
}

.p__block3__text {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #1e0404;
	margin: 0 0 20px 0;
}

.h2__block3__text {
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #1e0404;
}

.block3__main__text {
	text-align: center;
	margin: 100px 0 50px 0;
	position: relative;
	z-index: 2;
}

.block3__main {
	position: relative;
	margin: 0 0 30px 0;
}

.block3__img {
	position: absolute;
}

.block3__text2 {
	margin: 20px 0 0 0;
}

.block3__item__text {
	margin: 35px 0 0 0;
	text-align: center;
}

.block3__item__text1 {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 800;
	color: #1e0404;
}

.block3__item__text2 {
	font-size: 22px;
	line-height: 1.2;
	font-weight: 400;
	color: #4f4f4f;
	margin: 10px 0 0 0;
}

.block3__cont {
	display: flex;
    justify-content: space-around;
	position: relative;
	z-index: 2;
	flex-wrap: wrap;
}

.block3__cont__item__slash {
	margin: 85px 10px 0 10px;
	transition-duration: 1s;
}

.block4__tittle__text2 {
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #ffffff;
}

.block4__tittle__text1 {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	margin: 0 0 40px 0;
}



.block4__main {
	background: url(img/rectangle_1_copy_4_109.png) no-repeat fixed;
	    background-size: cover;
}

.block4__tittle {
	padding: 100px 0 40px 0;
	text-align: center;
}

.block4__tittle__text3 {
	margin: 40px 0 0 0;
}

.block4__cont__john {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 800;
	color: #eeb501;
}

.block4__cont__design {
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	margin: 10px 0 0 0;
}

.block4__cont__img__img{
	margin: 0 0 15px 0;
}

.block4__cont__text {
	font-size: 25px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	max-width: 80%;
    text-align: center;
}



.block4__cont__text1__wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px 0;
}

.block4__cont__img {
	text-align: center;
	margin: 0 0 140px 0;
}

.block5__tittle__text1 {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #000000;
	margin: 0 0 15px 0;
}

.block5__tittle__text2 {
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #1e0404;
}

.block5__tittle__text4 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #434343;
}

.block5__main__cont {
	display: grid;
	grid-template-columns: repeat(4,1fr);
	   grid-template-rows: 150px 150px;
    grid-gap: 1px;
	margin: 0 0 90px 0;
}



.block__main__cont__item {
	justify-self: center;
	align-self: center;
	width: 100%;
	height: 100%;
	border-right: solid 1px #a3a3a3;
}


.block__main__cont__item:nth-child(n+5) {
    border-top: solid 1px #a3a3a3
}

.block__main__cont__item:nth-child(4n) {
    border-right: none;
}

.client1 {
	background: url(img/block51.png) center no-repeat;
}

.client2 {
	background: url(img/block52.png) center no-repeat;
}

.client3 {
	background: url(img/block53.png) center no-repeat;
}

.client4 {
	background: url(img/block54.png) center no-repeat;
}

.client5 {
	background: url(img/block55.png) center no-repeat;
}

.client6 {
	background: url(img/block56.png) center no-repeat;
}

.client7 {
	background: url(img/block57.png) center no-repeat;
}

.client8 {
	background: url(img/block58.png) center no-repeat;
}

.block5__main__tittle {
	margin: 165px auto 75px ;
	text-align: center;
	
}

.block5__tittle__text3 {
	margin: 30px 0 50px 0;
}

.footer {
	background: url(img/section_getit_background_full.jpg) no-repeat fixed;
	background-size: cover;

	
}

.footer__text1 {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 400;
	font-style: italic;
	color: #ffffff;
	padding: 0  0 23px 0;
}

.footer__text2 {
	font-size: 43.3px;
	line-height: 1.2;
	font-weight: 800;
	color: #ffffff;
}

.footer__text4 {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	}

.footer__text {
	padding: 115px 0 65px 0;
	text-align: center;
}

.footer__text3 {
	padding: 23px 0;
}

.footer__map {
	margin: 0 0 75px;
}

.form__tittle {
	font-size: 29.2px;
	line-height: 1.2;
	font-weight: 700;
	color: #ffffff;
	margin: 0 0 50px 0;
	text-align: center;
}

.form {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-template-areas: 
		"name mail phone"
		"message message submit";
	grid-gap: 18px;
}

.name {
	grid-area: name;
}

.mail {
	grid-area: mail;
}

.phone {
	grid-area: phone;
}

.message {
	grid-area: message;
	width: 120%;
}

.submit {
	grid-area: submit;
	width: 50%;
	justify-self: end;
	transition-duration: 1s;
}

input {
	background-color: #2e2e2e;
	padding: 25px 0 25px 20px;
	font-size: 17px;
	line-height: 1.2;
	font-weight: 400;
	color: #adadad;
}

button {
	border: 3.0px solid #ffffff;
	font-size: 21.6px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	background: none;
}

iframe {
	width: 100%;
}

.footer__form {
	margin: 0 0 75px 0;
}

.footer__social__img {
	width: 57px;
	height: 57px;
	background-color: #eeb501;
	border-radius: 50%;
	display: flex;
    justify-content: center;
    align-items: center;
	transition-duration: 1s;
}

.footer__contact__social {
	    display: flex;
    margin: 0 auto;
    width: 40%;
    justify-content: space-around;
}

.footer__contact__text {
	font-size: 20px;
	line-height: 36px;
	font-weight: 400;
	color: #ffffff;
	text-align: center;
    padding: 50px 0;
    border-bottom: solid 4px #eeb501;
}

.footer__footer {
	font-size: 20px;
	line-height: 1.2;
	font-weight: 400;
	color: #ffffff;
	padding: 60px 0;
	text-align: center;
}

.header__cont__button:hover {
	transform: scale(1.2,1.2);
	background: white;
	color: #eeb501;
	
}

.nav__link:hover{
	transform: scale(1.2,1.2);
	background: #eeb501;
	color: white;	
}
.block2__main__cont div{
	transition-duration: 1s;
}

.block2__main__cont div:hover{
	transform: scale(1.2,1.2);
}

.block2__main__btn:hover {
	transform: scale(1.2,1.2);
	background: white;
	color: #eeb501; 
}

.submit:hover {
	transform: scale(1.2,1.2);
	background: white;
	color: #eeb501; 	
}





.footer__social__img:hover {
	transform: scale(1.2,1.2);	
}


/* 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 1600 */

@media screen and (max-width:1590px){
	.container_wrap{
		padding: 0 200px 1px 250px;
	
	}


	.logo {
	margin: 30px 153px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 60px;
	}
	.header__cont__block1__text2{
		font-size: 130px;
	}
	.header__cont__block1__text3{
		font-size: 60px;
	}
	.block2__cont__img3{
		margin: 0;
	}
	.block2__main__cont {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas: 
		"grid-block2-1 grid-block2-1"
		"grid-block2-2 grid-block2-3"
		" grid-block2-4 grid-block2-4";
	grid-gap: 20px;
}
	.block2__cont__img1{
		text-align: center;
	}
	.block2__cont__img2{
		text-align: end;
	}
	
	.block2__cont__img4{
		text-align: center;
	}
}

/* 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 1360 */


@media screen and (max-width:1359px){
		.header__cont__block1__text1{
		font-size: 50px;
			margin: 0 0 15px;
	}
	.header__cont__block1__text2{
		font-size: 120px;
	}
	.header__cont__block1__text3{
		font-size: 45px;
		margin: 10px 0 0 0;
	}
	
	.logo {
	margin: 30px 113px 0 0;
	}
	
		.container_wrap{
		padding: 0 150px 1px 200px;
		
	}
	
}


/*1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  *1280  */

@media screen and (max-width:1279px){
	
	
	.logo {
	margin: 30px 33px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 50px;
	}
	.header__cont__block1__text2{
		font-size: 110px;
	}
	.header__cont__block1__text3{
		font-size: 50px;
	}
	.header__img {
		transform: rotateY(180deg);	
	}
	
	.nav__link{
	font-size: 15px;
	margin: 55px 13px 60px 0;
	
}
	.just{
		font-size: 30px;
	}
	
	.awesom{
		font-size: 50px;
		padding: 10px;
	}
	
	.h2__disign{
		font-size: 20px;
	}
	
	.p__disign{
		font-size: 13px;
	}
	
	.container__block1{
		width: 100%;
	grid-template-columns: repeat(2,1fr);
	grid-template-areas: 
		"grid-just grid-just "
		"grid-disign3 grid-disign4"
		"grid-disign1 grid-disign2";
	padding: 66px 0;
		grid-gap: 40px;
	}
	
	.just__block1{
		text-align: center;
		
	}
	
	.block1__main__chair{
		display: none;
	}


	.nav{
		display: none;
	}
/*1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 1024 */

@media screen and (max-width:1023px){
	
	.container_wrap{
		padding: 0 70px 1px 110px;
	
	}

	
	.logo {
	margin: 20px 43px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 40px;
	}
	.header__cont__block1__text2{
		font-size: 95px;
	}
	.header__cont__block1__text3{
		font-size: 40px;
	}
	

}

/*960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 960 */

@media screen and (max-width:991px){
	
	.container_wrap{
		padding: 0 80px 1px 90px;
	
	}
	.nav__link{
		margin: 25px 5px 25px 0;
		font-size: 15px;
	}
	.logo {
	margin: 20px 35px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 40px;
		margin: 0 0 20px;
	}
	.header__cont__block1__text2{
		font-size: 95px;
	}
	.header__cont__block1__text3{
		font-size: 40px;
		margin: 20px 0 0 0;
	}
	.header__img{
		display: none;
	}
	.header__cont{
		margin: 100px auto 0;
		max-width: 100%;
		justify-content: center;
		text-align: center;
		align-items: center;
		
	}
	.nav {
		display: none;
		
	}
	
	.block5__main__cont {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	   grid-template-rows: 150px 150px 150px 150px;
    grid-gap: 1px;
	margin: 0 0 90px 0;
}
	
	.block__main__cont__item:nth-child(2n) {
    border-right: none;
}
	
	.block__main__cont__item:nth-child(n+3) {
    border-top: solid 1px #a3a3a3
}
	
	.form {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	grid-template-areas: 
		"name" 
		"mail" 
		"phone"
		"message"
		"submit";
	grid-gap: 18px;
}
	
	.message{
		width: inherit;
		margin: 0 0 15px 0;
	}
	.submit{
		width: 30%;
		height: 50px;
	}
	


	

}
/*758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 758 */

@media screen and (max-width:757px){
	.block2__main{
		display: none;
	}
	
	.block3__cont__item{
		margin: 30px 0;
	}
	
	.block4__cont__text{
		font-size: 18px;
	}
	.footer__contact__social{
		display: none;
	}
}
/*576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 576 */


@media screen and (max-width:575px){
	
	.container_wrap{
		padding: 0 50px 1px 60px;
	
	}

	.logo {
	margin: 20px 35px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 30px;
		margin: 0 0 20px;
	}
	.header__cont__block1__text2{
		font-size: 75px;
	}
	.header__cont__block1__text3{
		font-size: 30px;
		margin: 20px 0 0 0;
	}
	.header__img{
		display: none;
	}
	.header__cont{
		margin: 100px auto 0;
		max-width: 100%;
		justify-content: center;
		text-align: center;
		align-items: center;
		
	}
	.nav {
		display: none;
	}
	
		.container__block1{

	grid-template-columns: repeat(1,1fr);
	grid-template-areas: 
		"grid-just  "
		"grid-disign3" 
		"grid-disign4"
		"grid-disign1" 
		"grid-disign2";
	padding: 66px 0 0 0;
		grid-gap: 40px;
	}
	
		.block5__main__cont {
	display: grid;
	grid-template-columns: repeat(1,1fr);
	   grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
    grid-gap: 1px;
	margin: 0 0 90px 0;
}
	
	.block__main__cont__item:nth-child(n) {
    border-right: none;
}
	
	.block__main__cont__item:nth-child(n+2) {
    border-top: solid 1px #a3a3a3
}
	
	.submit{
		font-size: 15px;
	}
}

/* 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 320 */


@media screen and (max-width:319px){
	
	.container_wrap{
		padding: 0 30px 1px 40px;
	
	}

	.logo {
	margin: 20px 35px 0 0;
	}
	.header__cont__block1__text1{
		font-size: 20px;
		margin: 0 0 10px;
	}
	.header__cont__block1__text2{
		font-size: 55px;
	}
	.header__cont__block1__text3{
		font-size: 20px;
		margin: 15px 0 0 0;
	}
}
}